<!-- 引用 Live2D 核心组件 -->
<script src='/js/l2d.js'></script>
<!-- 引用看板娘交互组件 -->
<script src='/js/pio.js'></script>
<script>
    var pio = new Paul_Pio({
        "mode": "draggable",
        "hidden": true,
        "content": {
            "welcome": ["歡迎來到Jackson的小宇宙！", "今天天氣不錯，一起来玩吧！", "博主有空的話，會寫一寫博客記錄一下!"],
            "custom": [
                // {"selector": ".comment-form", "text": "欢迎参与本文评论，别发小广告噢~"},
                {"selector": ".home-social a:last-child", "text": "在這里可以了解博主的日常噢~"},
                {"selector": ".post-item a", "type": "read"},
                {"selector": ".post-content a, .page-content a", "type": "link"}
            ]
        },
        // "night": "single.night()",
        "model": [
          "/model/umaru/model.json",
          "/model/tororo/tororo.model.json",
          "/model/HN/nepmaid/model.json",
          "/model/HN/nepgearswim/model.json",
          "/model/HN/neptune_santa/model.json",
          "/model/other/rem/model.json",
          "/model/other/mei/model.json", //？？
          "/model/other/liang/2.json", //？？
          "/model/HN/noir_santa/model.json",
          "/model/HN/noireswim/model.json",
          "/model/other/blanc_normal/index.json",
          "/model/other/88type_1809/normal/model.json",
          "/model/other/88type_1809/destroy/model.json",
          "/model/other/dsr50_1801/normal/model.json",
          "/model/other/dsr50_1801/destroy/model.json",
          "/model/other/g36c_1202/normal/model.json",
          "/model/other/g36c_1202/destroy/model.json",
          "/model/other/kp31_310/normal/model.json",
          "/model/other/kp31_310/destroy/model.json",
          "/model/other/kp31_1103/normal/model.json",
          "/model/other/kp31_1103/destroy/model.json",
        ],
          touch: ["不可以這樣欺負我啦><"]
    })
  
</script>
  